<!DOCTYPE html>
<html>
  <head>
    <title>Pensieve</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body id='body'>

    <%= yield %>

    <%= javascript_pack_tag 'index.js' %>
  </body>
</html>
